@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:wght@400;700&family=Open+Sans:wght@400;600&display=swap');
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: lightgray;
    box-sizing: border-box;
    overflow: hidden;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    background-color: lightgray;
    box-sizing: border-box;
    margin: 80px auto;
    width: 700px;
    text-align: center;
}

header {
    width: 100vw;
    background-color: #000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.header-logo {
    height: 100px;
    width: auto;
    margin: 0 auto;
}

.info {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
    margin: -20px auto 40px auto;
}

h2 {
    font-family: 'Gentium Basic', serif;
    font-size: calc(20px + 1vw);
    color: #000;
    margin-bottom: 0;
}

small {
    font-family: 'Open Sans', sans-serif;
    color: #000;
}


/*h1 {
    font-family: 'Gentium Basic';
    font-style: normal;
    font-weight: 700;
    color: #fff;
    font-size: calc(40px + 1vw);
    font-display: swap;
    src: local('Gentium Basic Bold'), local('GentiumBasic-Bold'), url(https://fonts.gstatic.com/s/gentiumbasic/v12/WnzgHAw9aB_JD2VGQVR80We3JLasnTMebaiLbBR2kw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
} */

.chart {
    width: 100%;
    height: 300px;
    display: block;
    text-align: center;
}

.numbers {
    color: #000;
    margin: 0;
    width: 50px;
    height: 100%;
    display: inline-block;
    text-align: center;
    padding: 0px 15px;
}

.numbers li {
    list-style: none;
    height: 150px;
    position: relative;
    bottom: 140px;
    font-family: 'Gentium Basic', serif;
}

.numbers span {
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    right: -10px;
    margin: 0 auto;
}

.bars {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    background: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 200px;
    height: 300px;
    box-shadow: 0 0 10px 0 #555;
    border-radius: 5px;
}

.bars li {
    display: table-cell;
    width: 100px;
    height: 300px;
    position: relative;
    font-family: 'Gentium Basic', serif;
}

.bars span {
    width: 100%;
    position: absolute;
    bottom: -28px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
}

.bars .bar {
    display: block;
    width: 50px;
    position: absolute;
    bottom: 0;
    margin-left: 25px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(23, 192, 235, 0.5);
    transition: 0.5s;
    transition-property: background, box-shadow;
}

.bars .bar:hover {
    background: red;
    box-shadow: 0 0 10px 0 rgba(85, 239, 196, 0.5);
    cursor: pointer;
}

.bars .bar:before {
    color: #1e1e1e;
    content: attr(data-percentage) '%';
    position: relative;
    bottom: 20px;
}

.headshot {
    width: 90px;
    position: relative;
    bottom: 5px;
    text-align: center;
    z-index: 10;
}

#biden {
    background-color: blue;
}

#trump {
    background-color: red;
}


/*MEDIA QUERIES*/

@media only screen and (min-width: 320px) and (max-width: 749px) {
    .header-logo {
        height: 70px;
        margin: 0;
    }
    .content {
        flex-direction: column;
        width: 90%;
        margin: 30px auto;
        justify-content: center;
    }
    .chart {
        width: 100%;
        margin-right: 25px;
    }
}